.exclusive {
  // font-family: "Space Grotesk", sans-serif;

    .goth-font {
      font-family: 'Comic Neue', sans-serif;
    // font-family: "UnifrakturMaguntia", cursive; // changed from UnifrakturCook
    font-weight: 600;
  }

 .text-glow {
  text-shadow: 
    0 0 5px #ffffff,       // inner subtle glow
    0 0 15px rgba(255,255,255,0.2); // outer faint glow
}
}

/* optional grain fallback if you skip grain.png */
.exclusive::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-radial-gradient(
    rgba(255, 255, 255, 0.02) 0,
    rgba(255, 255, 255, 0.02) 1px,
    transparent 1px,
    transparent 2px
  );
  mix-blend-mode: overlay;
  opacity: 0.05;
  pointer-events: none;
  z-index: 5;
}
